@import '../css/variables.css';

.border {
    border: solid var(--color-primary) var(--border-width-xs);
}

.ba { border-style: solid; border-width: var(--border-width-xs); }
.bt { border-top-style: solid; border-top-width: var(--border-width-xs); }
.br { border-right-style: solid; border-right-width: var(--border-width-xs); }
.bb { border-bottom-style: solid; border-bottom-width: var(--border-width-xs); }
.bl { border-left-style: solid; border-left-width: var(--border-width-xs); }
.bn { border-style: none; border-width: 0; }

.bw0 { border-width: 0; }
.bw1 { border-width: var(--border-width-xs); }
.bw2 { border-width: var(--border-width-s); }
.bw3 { border-width: var(--border-width-m); }
.bw4 { border-width: var(--border-width-l); }
.bw5 { border-width: var(--border-width-xl); }

.br0 { border-radius: 0; }
.br1 { border-radius: var(--border-radius-xs); }
.br2 { border-radius: var(--border-radius-s); }
.br3 { border-radius: var(--border-radius-m); }
.br4 { border-radius: var(--border-radius-l); }
.br5 { border-radius: var(--border-radius-xl); }
.br100 { border-radius: 100%; }
.pill {  border-radius: 9999px; }
