@import '../css/variables.css';

.btn {
    padding: 0.9rem 1.3rem;
    min-width: 8.7rem;
    border: var(--btn-default-border);
    border-radius: var(--btn-default-radius);
    background-color: var(--btn-default-bgd);
    color: var(--btn-default-color);
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: var(--font-size-sm);
    margin: var(--margin-s);
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}


.btn.disabled {
    cursor: not-allowed;
    background-color: color(var(--btn-default-bgd) blackness(20%))
}

/* Small only */
@media screen and (max-width: var(--sm-max-width)) {

}

/* Medium and up */
@media screen and (min-width: var(--m-min-width)) {

}

/* Medium only */
@media screen and (min-width: var(--m-min-width)) and (max-width: var(--m-max-width)) {

}

/* Large and up */
@media screen and (min-width: var(--l-min-width)) {

}

/* Large only */
@media screen and (min-width: var(--l-min-width)) and (min-width: var(--l-max-width)) {

}

.btn-primary {
    border: var(--btn-primary-border);
    border-radius: var(--btn-primary-radius);
    background-color: var(--btn-primary-bgd);
    color: var(--btn-primary-color);
    font-size: var(--font-size-sm);
}

.btn-primary:hover {
    background-color: color(var(--btn-primary-bgd) shade(20%))
}


.btn-success {
    border: var(--btn-success-border);
    border-radius: var(--btn-success-radius);
    background-color: var(--btn-success-bgd);
    color: var(--btn-success-color);
    font-size: var(--font-size-sm);
}

.btn-success:hover {
    background-color: color(var(--btn-success-bgd) shade(20%))
}

.btn-info {
    border: var(--btn-info-border);
    border-radius: var(--btn-info-radius);
    background-color: var(--btn-info-bgd);
    color: var(--btn-info-color);
    font-size: var(--font-size-sm);
}

.btn-info:hover {
    background-color: color(var(--btn-info-bgd) shade(20%))
}

.btn-warning {
    border: var(--btn-warning-border);
    border-radius: var(--btn-warning-radius);
    background-color: var(--btn-warning-bgd);
    color: var(--btn-warning-color);
    font-size: var(--font-size-sm);
}

.btn-warning:hover {
    background-color: color(var(--btn-warning-bgd) shade(20%))
}

.btn-danger {
    border: var(--btn-danger-border);
    border-radius: var(--btn-danger-radius);
    background-color: var(--btn-danger-bgd);
    color: var(--btn-danger-color);
    font-size: var(--font-size-sm);
}

.btn-danger:hover {
    background-color: color(var(--btn-danger-bgd) shade(20%))
}

.btn-disabled {
    border: var(--btn-disabled-border);
    border-radius: var(--btn-disabled-radius);
    background-color: var(--btn-disabled-bgd);
    color: var(--btn-disabled-color);
    font-size: var(--font-size-sm);
    cursor: not-allowed;
}

.btn:focus,
.btn-primary:focus {
    outline: 0;
}
