@import '../css/variables.css';

.btn {
    padding: .25rem 1rem;
    color: var(--btn-primary-text-color);
    border-radius: var(--border-radius-xs);
    background-color: var(--btn-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.23s ease-in-out;
}

.btn:hover {

}
