/* Flex parent */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex direction */
.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

/* flex-wrap */
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

/* justify content */
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

/* align-items */
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-stretch { align-items: stretch; }
.items-baseline { align-items: baseline; }

/* align content */
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-stretch { align-content: stretch; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }

/* flex order */
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.order-10 { order: 10;}

/* Flex grow */
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }
.grow-7 { flex-grow: 7; }
.grow-8 { flex-grow: 8; }
.grow-9 { flex-grow: 9; }
.grow-10 { flex-grow: 10; }

/* Align Self */
.align-self-auto { align-self: auto; }
.align-self-start { align-self: flex-start; }
.align-self-end { align-self: flex-end; }
.align-self-center { align-self: center; }
.align-self-baseline { align-self: baseline; }
.align-self-stretch { align-self: stretch; }

/* Small only */
@media screen and (max-width: 39.9375em) {
    /* Flex parent */
    .so-flex {
        display: flex;
    }

    .so-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* flex direction */
    .so-row {
        display: flex;
        flex-direction: row;
    }

    .so-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .so-column {
        display: flex;
        flex-direction: column;
    }

    .so-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    /* flex-wrap */
    .so-flex-wrap { flex-wrap: wrap; }
    .so-flex-nowrap { flex-wrap: nowrap; }
    .so-flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* justify content */
    .so-justify-start { justify-content: flex-start; }
    .so-justify-end { justify-content: flex-end; }
    .so-justify-center { justify-content: center; }
    .so-justify-between { justify-content: space-between; }
    .so-justify-around { justify-content: space-around; }

    /* align-items */
    .so-items-start { align-items: flex-start; }
    .so-items-end { align-items: flex-end; }
    .so-items-center { align-items: center; }
    .so-items-stretch { align-items: stretch; }
    .so-items-baseline { align-items: baseline; }

    /* align content */
    .so-content-start { align-content: flex-start; }
    .so-content-end { align-content: flex-end; }
    .so-content-center { align-content: center; }
    .so-content-stretch { align-content: stretch; }
    .so-content-between { align-content: space-between; }
    .so-content-around { align-content: space-around; }

    /* flex order */
    .so-order-1 { order: 1; }
    .so-order-2 { order: 2; }
    .so-order-3 { order: 3; }
    .so-order-4 { order: 4; }
    .so-order-5 { order: 5; }
    .so-order-6 { order: 6; }
    .so-order-7 { order: 7; }
    .so-order-8 { order: 8; }
    .so-order-9 { order: 9; }
    .so-order-10 { order: 10;}

    /* Flex grow */
    .so-grow-1 { flex-grow: 1; }
    .so-grow-2 { flex-grow: 2; }
    .so-grow-3 { flex-grow: 3; }
    .so-grow-4 { flex-grow: 4; }
    .so-grow-5 { flex-grow: 5; }
    .so-grow-6 { flex-grow: 6; }
    .so-grow-7 { flex-grow: 7; }
    .so-grow-8 { flex-grow: 8; }
    .so-grow-9 { flex-grow: 9; }
    .so-grow-10 { flex-grow: 10; }

    /* Align Self */
    .so-align-self-auto { align-self: auto; }
    .so-align-self-start { align-self: flex-start; }
    .so-align-self-end { align-self: flex-end; }
    .so-align-self-center { align-self: center; }
    .so-align-self-baseline { align-self: baseline; }
    .so-align-self-stretch { align-self: stretch; }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    /* Flex parent */
    .mu-flex {
        display: flex;
    }

    .mu-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* flex direction */
    .mu-row {
        display: flex;
        flex-direction: row;
    }

    .mu-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .mu-column {
        display: flex;
        flex-direction: column;
    }

    .mu-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    /* flex-wrap */
    .mu-flex-wrap { flex-wrap: wrap; }
    .mu-flex-nowrap { flex-wrap: nowrap; }
    .mu-flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* justify content */
    .mu-justify-start { justify-content: flex-start; }
    .mu-justify-end { justify-content: flex-end; }
    .mu-justify-center { justify-content: center; }
    .mu-justify-between { justify-content: space-between; }
    .mu-justify-around { justify-content: space-around; }

    /* align-items */
    .mu-items-start { align-items: flex-start; }
    .mu-items-end { align-items: flex-end; }
    .mu-items-center { align-items: center; }
    .mu-items-stretch { align-items: stretch; }
    .mu-items-baseline { align-items: baseline; }

    /* align content */
    .mu-content-start { align-content: flex-start; }
    .mu-content-end { align-content: flex-end; }
    .mu-content-center { align-content: center; }
    .mu-content-stretch { align-content: stretch; }
    .mu-content-between { align-content: space-between; }
    .mu-content-around { align-content: space-around; }

    /* flex order */
    .mu-order-1 { order: 1; }
    .mu-order-2 { order: 2; }
    .mu-order-3 { order: 3; }
    .mu-order-4 { order: 4; }
    .mu-order-5 { order: 5; }
    .mu-order-6 { order: 6; }
    .mu-order-7 { order: 7; }
    .mu-order-8 { order: 8; }
    .mu-order-9 { order: 9; }
    .mu-order-10 { order: 10;}

    /* Flex grow */
    .mu-grow-1 { flex-grow: 1; }
    .mu-grow-2 { flex-grow: 2; }
    .mu-grow-3 { flex-grow: 3; }
    .mu-grow-4 { flex-grow: 4; }
    .mu-grow-5 { flex-grow: 5; }
    .mu-grow-6 { flex-grow: 6; }
    .mu-grow-7 { flex-grow: 7; }
    .mu-grow-8 { flex-grow: 8; }
    .mu-grow-9 { flex-grow: 9; }
    .mu-grow-10 { flex-grow: 10; }

    /* Align Self */
    .mu-align-self-auto { align-self: auto; }
    .mu-align-self-start { align-self: flex-start; }
    .mu-align-self-end { align-self: flex-end; }
    .mu-align-self-center { align-self: center; }
    .mu-align-self-baseline { align-self: baseline; }
    .mu-align-self-stretch { align-self: stretch; }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* Flex parent */
    .mo-flex {
        display: flex;
    }

    .mo-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* flex direction */
    .mo-row {
        display: flex;
        flex-direction: row;
    }

    .mo-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .mo-column {
        display: flex;
        flex-direction: column;
    }

    .mo-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    /* flex-wrap */
    .mo-flex-wrap { flex-wrap: wrap; }
    .mo-flex-nowrap { flex-wrap: nowrap; }
    .mo-flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* justify content */
    .mo-justify-start { justify-content: flex-start; }
    .mo-justify-end { justify-content: flex-end; }
    .mo-justify-center { justify-content: center; }
    .mo-justify-between { justify-content: space-between; }
    .mo-justify-around { justify-content: space-around; }

    /* align-items */
    .mo-items-start { align-items: flex-start; }
    .mo-items-end { align-items: flex-end; }
    .mo-items-center { align-items: center; }
    .mo-items-stretch { align-items: stretch; }
    .mo-items-baseline { align-items: baseline; }

    /* align content */
    .mo-content-start { align-content: flex-start; }
    .mo-content-end { align-content: flex-end; }
    .mo-content-center { align-content: center; }
    .mo-content-stretch { align-content: stretch; }
    .mo-content-between { align-content: space-between; }
    .mo-content-around { align-content: space-around; }

    /* flex order */
    .mo-order-1 { order: 1; }
    .mo-order-2 { order: 2; }
    .mo-order-3 { order: 3; }
    .mo-order-4 { order: 4; }
    .mo-order-5 { order: 5; }
    .mo-order-6 { order: 6; }
    .mo-order-7 { order: 7; }
    .mo-order-8 { order: 8; }
    .mo-order-9 { order: 9; }
    .mo-order-10 { order: 10;}

    /* Flex grow */
    .mo-grow-1 { flex-grow: 1; }
    .mo-grow-2 { flex-grow: 2; }
    .mo-grow-3 { flex-grow: 3; }
    .mo-grow-4 { flex-grow: 4; }
    .mo-grow-5 { flex-grow: 5; }
    .mo-grow-6 { flex-grow: 6; }
    .mo-grow-7 { flex-grow: 7; }
    .mo-grow-8 { flex-grow: 8; }
    .mo-grow-9 { flex-grow: 9; }
    .mo-grow-10 { flex-grow: 10; }

    /* Align Self */
    .mo-align-self-auto { align-self: auto; }
    .mo-align-self-start { align-self: flex-start; }
    .mo-align-self-end { align-self: flex-end; }
    .mo-align-self-center { align-self: center; }
    .mo-align-self-baseline { align-self: baseline; }
    .mo-align-self-stretch { align-self: stretch; }
}

/* Large and up */
@media screen and (min-width: 64em) {
    /* Flex parent */
    .lu-flex {
        display: flex;
    }

    .lu-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* flex direction */
    .lu-row {
        display: flex;
        flex-direction: row;
    }

    .lu-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .lu-column {
        display: flex;
        flex-direction: column;
    }

    .lu-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    /* flex-wrap */
    .lu-flex-wrap { flex-wrap: wrap; }
    .lu-flex-nowrap { flex-wrap: nowrap; }
    .lu-flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* justify content */
    .lu-justify-start { justify-content: flex-start; }
    .lu-justify-end { justify-content: flex-end; }
    .lu-justify-center { justify-content: center; }
    .lu-justify-between { justify-content: space-between; }
    .lu-justify-around { justify-content: space-around; }

    /* align-items */
    .lu-items-start { align-items: flex-start; }
    .lu-items-end { align-items: flex-end; }
    .lu-items-center { align-items: center; }
    .lu-items-stretch { align-items: stretch; }
    .lu-items-baseline { align-items: baseline; }

    /* align content */
    .lu-content-start { align-content: flex-start; }
    .lu-content-end { align-content: flex-end; }
    .lu-content-center { align-content: center; }
    .lu-content-stretch { align-content: stretch; }
    .lu-content-between { align-content: space-between; }
    .lu-content-around { align-content: space-around; }

    /* flex order */
    .lu-order-1 { order: 1; }
    .lu-order-2 { order: 2; }
    .lu-order-3 { order: 3; }
    .lu-order-4 { order: 4; }
    .lu-order-5 { order: 5; }
    .lu-order-6 { order: 6; }
    .lu-order-7 { order: 7; }
    .lu-order-8 { order: 8; }
    .lu-order-9 { order: 9; }
    .lu-order-10 { order: 10;}

    /* Flex grow */
    .lu-grow-1 { flex-grow: 1; }
    .lu-grow-2 { flex-grow: 2; }
    .lu-grow-3 { flex-grow: 3; }
    .lu-grow-4 { flex-grow: 4; }
    .lu-grow-5 { flex-grow: 5; }
    .lu-grow-6 { flex-grow: 6; }
    .lu-grow-7 { flex-grow: 7; }
    .lu-grow-8 { flex-grow: 8; }
    .lu-grow-9 { flex-grow: 9; }
    .lu-grow-10 { flex-grow: 10; }

    /* Align Self */
    .lu-align-self-auto { align-self: auto; }
    .lu-align-self-start { align-self: flex-start; }
    .lu-align-self-end { align-self: flex-end; }
    .lu-align-self-center { align-self: center; }
    .lu-align-self-baseline { align-self: baseline; }
    .lu-align-self-stretch { align-self: stretch; }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    /* Flex parent */
    .lo-flex {
        display: flex;
    }

    .lo-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* flex direction */
    .lo-row {
        display: flex;
        flex-direction: row;
    }

    .lo-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .lo-column {
        display: flex;
        flex-direction: column;
    }

    .lo-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    /* flex-wrap */
    .lo-flex-wrap { flex-wrap: wrap; }
    .lo-flex-nowrap { flex-wrap: nowrap; }
    .lo-flex-wrap-reverse { flex-wrap: wrap-reverse; }

    /* justify content */
    .lo-justify-start { justify-content: flex-start; }
    .lo-justify-end { justify-content: flex-end; }
    .lo-justify-center { justify-content: center; }
    .lo-justify-between { justify-content: space-between; }
    .lo-justify-around { justify-content: space-around; }

    /* align-items */
    .lo-items-start { align-items: flex-start; }
    .lo-items-end { align-items: flex-end; }
    .lo-items-center { align-items: center; }
    .lo-items-stretch { align-items: stretch; }
    .lo-items-baseline { align-items: baseline; }

    /* align content */
    .lo-content-start { align-content: flex-start; }
    .lo-content-end { align-content: flex-end; }
    .lo-content-center { align-content: center; }
    .lo-content-stretch { align-content: stretch; }
    .lo-content-between { align-content: space-between; }
    .lo-content-around { align-content: space-around; }

    /* flex order */
    .lo-order-1 { order: 1; }
    .lo-order-2 { order: 2; }
    .lo-order-3 { order: 3; }
    .lo-order-4 { order: 4; }
    .lo-order-5 { order: 5; }
    .lo-order-6 { order: 6; }
    .lo-order-7 { order: 7; }
    .lo-order-8 { order: 8; }
    .lo-order-9 { order: 9; }
    .lo-order-10 { order: 10;}

    /* Flex grow */
    .lo-grow-1 { flex-grow: 1; }
    .lo-grow-2 { flex-grow: 2; }
    .lo-grow-3 { flex-grow: 3; }
    .lo-grow-4 { flex-grow: 4; }
    .lo-grow-5 { flex-grow: 5; }
    .lo-grow-6 { flex-grow: 6; }
    .lo-grow-7 { flex-grow: 7; }
    .lo-grow-8 { flex-grow: 8; }
    .lo-grow-9 { flex-grow: 9; }
    .lo-grow-10 { flex-grow: 10; }

    /* Align Self */
    .lo-align-self-auto { align-self: auto; }
    .lo-align-self-start { align-self: flex-start; }
    .lo-align-self-end { align-self: flex-end; }
    .lo-align-self-center { align-self: center; }
    .lo-align-self-baseline { align-self: baseline; }
    .lo-align-self-stretch { align-self: stretch; }
}
