.h5 { height: 5%; }
.h10 { height: 10%; }
.h15 { height: 15%; }
.h20 { height: 20%; }
.h25 { height: 25%; }
.h30 { height: 30%; }
.h33 { height: 33%; }
.h40 { height: 40%; }
.h50 { height: 50%; }
.h60 { height: 60%; }
.h66 { height: 66%; }
.h70 { height: 70%; }
.h80 { height: 80%; }
.h90 { height: 90%; }
.h100 { height: 100%; }

.vh5 { height: 5vh; }
.vh10 { height: 10vh; }
.vh15 { height: 15vh; }
.vh20 { height: 20vh; }
.vh25 { height: 25vh; }
.vh30 { height: 30vh; }
.vh33 { height: 33vh; }
.vh40 { height: 40vh; }
.vh50 { height: 50vh; }
.vh60 { height: 60vh; }
.vh66 { height: 66vh; }
.vh70 { height: 70vh; }
.vh80 { height: 80vh; }
.vh90 { height: 90vh; }
.vh100 { height: 100vh; }

.ah5 { height: calc(4% + 5vh); }
.ah10 { height: calc(9% + 5vh); }
.ah15 { height: calc(14% + 5vh); }
.ah20 { height: calc(19% + 5vh); }
.ah25 { height: calc(24% + 5vh); }
.ah30 { height: calc(29% + 5vh); }
.ah33 { height: calc(32% + 5vh); }
.ah40 { height: calc(39% + 5vh); }
.ah50 { height: calc(49% + 5vh); }
.ah60 { height: calc(59% + 5vh); }
.ah66 { height: calc(65% + 5vh); }
.ah70 { height: calc(69% + 5vh); }
.ah80 { height: calc(77% + 5vh); }
.ah90 { height: calc(87% + 5vh); }
.ah100 { height: calc(97% + 5vh); }

/* Small only */
@media screen and (max-height: 39.9375em) {
    .xs-h5 { height: 5%; }
    .xs-h10 { height: 10%; }
    .xs-h15 { height: 15%; }
    .xs-h20 { height: 20%; }
    .xs-h25 { height: 25%; }
    .xs-h30 { height: 30%; }
    .xs-h33 { height: 33%; }
    .xs-h40 { height: 40%; }
    .xs-h50 { height: 50%; }
    .xs-h60 { height: 60%; }
    .xs-h66 { height: 66%; }
    .xs-h70 { height: 70%; }
    .xs-h80 { height: 80%; }
    .xs-h90 { height: 90%; }
    .xs-h100 { height: 100%; }

    .xs-vh5 { height: 5vh; }
    .xs-vh10 { height: 10vh; }
    .xs-vh15 { height: 15vh; }
    .xs-vh20 { height: 20vh; }
    .xs-vh25 { height: 25vh; }
    .xs-vh30 { height: 30vh; }
    .xs-vh33 { height: 33vh; }
    .xs-vh40 { height: 40vh; }
    .xs-vh50 { height: 50vh; }
    .xs-vh60 { height: 60vh; }
    .xs-vh66 { height: 66vh; }
    .xs-vh70 { height: 70vh; }
    .xs-vh80 { height: 80vh; }
    .xs-vh90 { height: 90vh; }
    .xs-vh100 { height: 100vh; }

    .xs-ah5 { height: calc(4% + 5vh); }
    .xs-ah10 { height: calc(9% + 5vh); }
    .xs-ah15 { height: calc(14% + 5vh); }
    .xs-ah20 { height: calc(19% + 5vh); }
    .xs-ah25 { height: calc(24% + 5vh); }
    .xs-ah30 { height: calc(29% + 5vh); }
    .xs-ah33 { height: calc(32% + 5vh); }
    .xs-ah40 { height: calc(39% + 5vh); }
    .xs-ah50 { height: calc(49% + 5vh); }
    .xs-ah60 { height: calc(59% + 5vh); }
    .xs-ah66 { height: calc(65% + 5vh); }
    .xs-ah70 { height: calc(69% + 5vh); }
    .xs-ah80 { height: calc(77% + 5vh); }
    .xs-ah90 { height: calc(87% + 5vh); }
    .xs-ah100 { height: calc(97% + 5vh); }
}

/* Medium and up */
@media screen and (min-height: 40em) {
    .s-h5 { height: 5%; }
    .s-h10 { height: 10%; }
    .s-h15 { height: 15%; }
    .s-h20 { height: 20%; }
    .s-h25 { height: 25%; }
    .s-h30 { height: 30%; }
    .s-h33 { height: 33%; }
    .s-h40 { height: 40%; }
    .s-h50 { height: 50%; }
    .s-h60 { height: 60%; }
    .s-h66 { height: 66%; }
    .s-h70 { height: 70%; }
    .s-h80 { height: 80%; }
    .s-h90 { height: 90%; }
    .s-h100 { height: 100%; }

    .s-vh5 { height: 5vh; }
    .s-vh10 { height: 10vh; }
    .s-vh15 { height: 15vh; }
    .s-vh20 { height: 20vh; }
    .s-vh25 { height: 25vh; }
    .s-vh30 { height: 30vh; }
    .s-vh33 { height: 33vh; }
    .s-vh40 { height: 40vh; }
    .s-vh50 { height: 50vh; }
    .s-vh60 { height: 60vh; }
    .s-vh66 { height: 66vh; }
    .s-vh70 { height: 70vh; }
    .s-vh80 { height: 80vh; }
    .s-vh90 { height: 90vh; }
    .s-vh100 { height: 100vh; }

    .s-ah5 { height: calc(4% + 5vh); }
    .s-ah10 { height: calc(9% + 5vh); }
    .s-ah15 { height: calc(14% + 5vh); }
    .s-ah20 { height: calc(19% + 5vh); }
    .s-ah25 { height: calc(24% + 5vh); }
    .s-ah30 { height: calc(29% + 5vh); }
    .s-ah33 { height: calc(32% + 5vh); }
    .s-ah40 { height: calc(39% + 5vh); }
    .s-ah50 { height: calc(49% + 5vh); }
    .s-ah60 { height: calc(59% + 5vh); }
    .s-ah66 { height: calc(65% + 5vh); }
    .s-ah70 { height: calc(69% + 5vh); }
    .s-ah80 { height: calc(77% + 5vh); }
    .s-ah90 { height: calc(87% + 5vh); }
    .s-ah100 { height: calc(97% + 5vh); }
}

/* Medium only */
@media screen and (min-height: 40em) and (max-height: 63.9375em) {
    .m-h5 { height: 5%; }
    .m-h10 { height: 10%; }
    .m-h15 { height: 15%; }
    .m-h20 { height: 20%; }
    .m-h25 { height: 25%; }
    .m-h30 { height: 30%; }
    .m-h33 { height: 33%; }
    .m-h40 { height: 40%; }
    .m-h50 { height: 50%; }
    .m-h60 { height: 60%; }
    .m-h66 { height: 66%; }
    .m-h70 { height: 70%; }
    .m-h80 { height: 80%; }
    .m-h90 { height: 90%; }
    .m-h100 { height: 100%; }

    .m-vh5 { height: 5vh; }
    .m-vh10 { height: 10vh; }
    .m-vh15 { height: 15vh; }
    .m-vh20 { height: 20vh; }
    .m-vh25 { height: 25vh; }
    .m-vh30 { height: 30vh; }
    .m-vh33 { height: 33vh; }
    .m-vh40 { height: 40vh; }
    .m-vh50 { height: 50vh; }
    .m-vh60 { height: 60vh; }
    .m-vh66 { height: 66vh; }
    .m-vh70 { height: 70vh; }
    .m-vh80 { height: 80vh; }
    .m-vh90 { height: 90vh; }
    .m-vh100 { height: 100vh; }

    .m-ah5 { height: calc(4% + 5vh); }
    .m-ah10 { height: calc(9% + 5vh); }
    .m-ah15 { height: calc(14% + 5vh); }
    .m-ah20 { height: calc(19% + 5vh); }
    .m-ah25 { height: calc(24% + 5vh); }
    .m-ah30 { height: calc(29% + 5vh); }
    .m-ah33 { height: calc(32% + 5vh); }
    .m-ah40 { height: calc(39% + 5vh); }
    .m-ah50 { height: calc(49% + 5vh); }
    .m-ah60 { height: calc(59% + 5vh); }
    .m-ah66 { height: calc(65% + 5vh); }
    .m-ah70 { height: calc(69% + 5vh); }
    .m-ah80 { height: calc(77% + 5vh); }
    .m-ah90 { height: calc(87% + 5vh); }
    .m-ah100 { height: calc(97% + 5vh); }
}

/* Large and up */
@media screen and (min-height: 64em) {
    .l-h5 { height: 5%; }
    .l-h10 { height: 10%; }
    .l-h15 { height: 15%; }
    .l-h20 { height: 20%; }
    .l-h25 { height: 25%; }
    .l-h30 { height: 30%; }
    .l-h33 { height: 33%; }
    .l-h40 { height: 40%; }
    .l-h50 { height: 50%; }
    .l-h60 { height: 60%; }
    .l-h66 { height: 66%; }
    .l-h70 { height: 70%; }
    .l-h80 { height: 80%; }
    .l-h90 { height: 90%; }
    .l-h100 { height: 100%; }

    .l-vh5 { height: 5vh; }
    .l-vh10 { height: 10vh; }
    .l-vh15 { height: 15vh; }
    .l-vh20 { height: 20vh; }
    .l-vh25 { height: 25vh; }
    .l-vh30 { height: 30vh; }
    .l-vh33 { height: 33vh; }
    .l-vh40 { height: 40vh; }
    .l-vh50 { height: 50vh; }
    .l-vh60 { height: 60vh; }
    .l-vh66 { height: 66vh; }
    .l-vh70 { height: 70vh; }
    .l-vh80 { height: 80vh; }
    .l-vh90 { height: 90vh; }
    .l-vh100 { height: 100vh; }

    .l-ah5 { height: calc(4% + 5vh); }
    .l-ah10 { height: calc(9% + 5vh); }
    .l-ah15 { height: calc(14% + 5vh); }
    .l-ah20 { height: calc(19% + 5vh); }
    .l-ah25 { height: calc(24% + 5vh); }
    .l-ah30 { height: calc(29% + 5vh); }
    .l-ah33 { height: calc(32% + 5vh); }
    .l-ah40 { height: calc(39% + 5vh); }
    .l-ah50 { height: calc(49% + 5vh); }
    .l-ah60 { height: calc(59% + 5vh); }
    .l-ah66 { height: calc(65% + 5vh); }
    .l-ah70 { height: calc(69% + 5vh); }
    .l-ah80 { height: calc(77% + 5vh); }
    .l-ah90 { height: calc(87% + 5vh); }
    .l-ah100 { height: calc(97% + 5vh); }
}

/* Large only */
@media screen and (min-height: 64em) and (max-height: 74.9375em) {
    .xl-h5 { height: 5%; }
    .xl-h10 { height: 10%; }
    .xl-h15 { height: 15%; }
    .xl-h20 { height: 20%; }
    .xl-h25 { height: 25%; }
    .xl-h30 { height: 30%; }
    .xl-h33 { height: 33%; }
    .xl-h40 { height: 40%; }
    .xl-h50 { height: 50%; }
    .xl-h60 { height: 60%; }
    .xl-h66 { height: 66%; }
    .xl-h70 { height: 70%; }
    .xl-h80 { height: 80%; }
    .xl-h90 { height: 90%; }
    .xl-h100 { height: 100%; }

    .xl-vh5 { height: 5vh; }
    .xl-vh10 { height: 10vh; }
    .xl-vh15 { height: 15vh; }
    .xl-vh20 { height: 20vh; }
    .xl-vh25 { height: 25vh; }
    .xl-vh30 { height: 30vh; }
    .xl-vh33 { height: 33vh; }
    .xl-vh40 { height: 40vh; }
    .xl-vh50 { height: 50vh; }
    .xl-vh60 { height: 60vh; }
    .xl-vh66 { height: 66vh; }
    .xl-vh70 { height: 70vh; }
    .xl-vh80 { height: 80vh; }
    .xl-vh90 { height: 90vh; }
    .xl-vh100 { height: 100vh; }

    .xl-ah5 { height: calc(4% + 5vh); }
    .xl-ah10 { height: calc(9% + 5vh); }
    .xl-ah15 { height: calc(14% + 5vh); }
    .xl-ah20 { height: calc(19% + 5vh); }
    .xl-ah25 { height: calc(24% + 5vh); }
    .xl-ah30 { height: calc(29% + 5vh); }
    .xl-ah33 { height: calc(32% + 5vh); }
    .xl-ah40 { height: calc(39% + 5vh); }
    .xl-ah50 { height: calc(49% + 5vh); }
    .xl-ah60 { height: calc(59% + 5vh); }
    .xl-ah66 { height: calc(65% + 5vh); }
    .xl-ah70 { height: calc(69% + 5vh); }
    .xl-ah80 { height: calc(77% + 5vh); }
    .xl-ah90 { height: calc(87% + 5vh); }
    .xl-ah100 { height: calc(97% + 5vh); }
}
