.h5 { height: 5%; }
.h10 { height: 10%; }
.h15 { height: 15%; }
.h20 { height: 20%; }
.h25 { height: 25%; }
.h30 { height: 30%; }
.h33 { height: 33%; }
.h40 { height: 40%; }
.h50 { height: 50%; }
.h60 { height: 60%; }
.h66 { height: 66%; }
.h70 { height: 70%; }
.h80 { height: 80%; }
.h90 { height: 90%; }
.h100 { height: 100%; }

.vh5 { height: 5vh; }
.vh10 { height: 10vh; }
.vh15 { height: 15vh; }
.vh20 { height: 20vh; }
.vh25 { height: 25vh; }
.vh30 { height: 30vh; }
.vh33 { height: 33vh; }
.vh40 { height: 40vh; }
.vh50 { height: 50vh; }
.vh60 { height: 60vh; }
.vh66 { height: 66vh; }
.vh70 { height: 70vh; }
.vh80 { height: 80vh; }
.vh90 { height: 90vh; }
.vh100 { height: 100vh; }

.ah5 { height: calc(4% + 5vh); }
.ah10 { height: calc(9% + 5vh); }
.ah15 { height: calc(14% + 5vh); }
.ah20 { height: calc(19% + 5vh); }
.ah25 { height: calc(24% + 5vh); }
.ah30 { height: calc(29% + 5vh); }
.ah33 { height: calc(32% + 5vh); }
.ah40 { height: calc(39% + 5vh); }
.ah50 { height: calc(49% + 5vh); }
.ah60 { height: calc(59% + 5vh); }
.ah66 { height: calc(65% + 5vh); }
.ah70 { height: calc(69% + 5vh); }
.ah80 { height: calc(77% + 5vh); }
.ah90 { height: calc(87% + 5vh); }
.ah100 { height: calc(97% + 5vh); }

/* Small only */
@media screen and (max-height: 39.9375em) {
    .so-h5 { height: 5%; }
    .so-h10 { height: 10%; }
    .so-h15 { height: 15%; }
    .so-h20 { height: 20%; }
    .so-h25 { height: 25%; }
    .so-h30 { height: 30%; }
    .so-h33 { height: 33%; }
    .so-h40 { height: 40%; }
    .so-h50 { height: 50%; }
    .so-h60 { height: 60%; }
    .so-h66 { height: 66%; }
    .so-h70 { height: 70%; }
    .so-h80 { height: 80%; }
    .so-h90 { height: 90%; }
    .so-h100 { height: 100%; }

    .so-vh5 { height: 5vh; }
    .so-vh10 { height: 10vh; }
    .so-vh15 { height: 15vh; }
    .so-vh20 { height: 20vh; }
    .so-vh25 { height: 25vh; }
    .so-vh30 { height: 30vh; }
    .so-vh33 { height: 33vh; }
    .so-vh40 { height: 40vh; }
    .so-vh50 { height: 50vh; }
    .so-vh60 { height: 60vh; }
    .so-vh66 { height: 66vh; }
    .so-vh70 { height: 70vh; }
    .so-vh80 { height: 80vh; }
    .so-vh90 { height: 90vh; }
    .so-vh100 { height: 100vh; }

    .so-ah5 { height: calc(4% + 5vh); }
    .so-ah10 { height: calc(9% + 5vh); }
    .so-ah15 { height: calc(14% + 5vh); }
    .so-ah20 { height: calc(19% + 5vh); }
    .so-ah25 { height: calc(24% + 5vh); }
    .so-ah30 { height: calc(29% + 5vh); }
    .so-ah33 { height: calc(32% + 5vh); }
    .so-ah40 { height: calc(39% + 5vh); }
    .so-ah50 { height: calc(49% + 5vh); }
    .so-ah60 { height: calc(59% + 5vh); }
    .so-ah66 { height: calc(65% + 5vh); }
    .so-ah70 { height: calc(69% + 5vh); }
    .so-ah80 { height: calc(77% + 5vh); }
    .so-ah90 { height: calc(87% + 5vh); }
    .so-ah100 { height: calc(97% + 5vh); }
}

/* Medium and up */
@media screen and (min-height: 40em) {
    .mu-h5 { height: 5%; }
    .mu-h10 { height: 10%; }
    .mu-h15 { height: 15%; }
    .mu-h20 { height: 20%; }
    .mu-h25 { height: 25%; }
    .mu-h30 { height: 30%; }
    .mu-h33 { height: 33%; }
    .mu-h40 { height: 40%; }
    .mu-h50 { height: 50%; }
    .mu-h60 { height: 60%; }
    .mu-h66 { height: 66%; }
    .mu-h70 { height: 70%; }
    .mu-h80 { height: 80%; }
    .mu-h90 { height: 90%; }
    .mu-h100 { height: 100%; }

    .mu-vh5 { height: 5vh; }
    .mu-vh10 { height: 10vh; }
    .mu-vh15 { height: 15vh; }
    .mu-vh20 { height: 20vh; }
    .mu-vh25 { height: 25vh; }
    .mu-vh30 { height: 30vh; }
    .mu-vh33 { height: 33vh; }
    .mu-vh40 { height: 40vh; }
    .mu-vh50 { height: 50vh; }
    .mu-vh60 { height: 60vh; }
    .mu-vh66 { height: 66vh; }
    .mu-vh70 { height: 70vh; }
    .mu-vh80 { height: 80vh; }
    .mu-vh90 { height: 90vh; }
    .mu-vh100 { height: 100vh; }

    .mu-ah5 { height: calc(4% + 5vh); }
    .mu-ah10 { height: calc(9% + 5vh); }
    .mu-ah15 { height: calc(14% + 5vh); }
    .mu-ah20 { height: calc(19% + 5vh); }
    .mu-ah25 { height: calc(24% + 5vh); }
    .mu-ah30 { height: calc(29% + 5vh); }
    .mu-ah33 { height: calc(32% + 5vh); }
    .mu-ah40 { height: calc(39% + 5vh); }
    .mu-ah50 { height: calc(49% + 5vh); }
    .mu-ah60 { height: calc(59% + 5vh); }
    .mu-ah66 { height: calc(65% + 5vh); }
    .mu-ah70 { height: calc(69% + 5vh); }
    .mu-ah80 { height: calc(77% + 5vh); }
    .mu-ah90 { height: calc(87% + 5vh); }
    .mu-ah100 { height: calc(97% + 5vh); }
}

/* Medium only */
@media screen and (min-height: 40em) and (max-height: 63.9375em) {
    .mo-h5 { height: 5%; }
    .mo-h10 { height: 10%; }
    .mo-h15 { height: 15%; }
    .mo-h20 { height: 20%; }
    .mo-h25 { height: 25%; }
    .mo-h30 { height: 30%; }
    .mo-h33 { height: 33%; }
    .mo-h40 { height: 40%; }
    .mo-h50 { height: 50%; }
    .mo-h60 { height: 60%; }
    .mo-h66 { height: 66%; }
    .mo-h70 { height: 70%; }
    .mo-h80 { height: 80%; }
    .mo-h90 { height: 90%; }
    .mo-h100 { height: 100%; }

    .mo-vh5 { height: 5vh; }
    .mo-vh10 { height: 10vh; }
    .mo-vh15 { height: 15vh; }
    .mo-vh20 { height: 20vh; }
    .mo-vh25 { height: 25vh; }
    .mo-vh30 { height: 30vh; }
    .mo-vh33 { height: 33vh; }
    .mo-vh40 { height: 40vh; }
    .mo-vh50 { height: 50vh; }
    .mo-vh60 { height: 60vh; }
    .mo-vh66 { height: 66vh; }
    .mo-vh70 { height: 70vh; }
    .mo-vh80 { height: 80vh; }
    .mo-vh90 { height: 90vh; }
    .mo-vh100 { height: 100vh; }

    .mo-ah5 { height: calc(4% + 5vh); }
    .mo-ah10 { height: calc(9% + 5vh); }
    .mo-ah15 { height: calc(14% + 5vh); }
    .mo-ah20 { height: calc(19% + 5vh); }
    .mo-ah25 { height: calc(24% + 5vh); }
    .mo-ah30 { height: calc(29% + 5vh); }
    .mo-ah33 { height: calc(32% + 5vh); }
    .mo-ah40 { height: calc(39% + 5vh); }
    .mo-ah50 { height: calc(49% + 5vh); }
    .mo-ah60 { height: calc(59% + 5vh); }
    .mo-ah66 { height: calc(65% + 5vh); }
    .mo-ah70 { height: calc(69% + 5vh); }
    .mo-ah80 { height: calc(77% + 5vh); }
    .mo-ah90 { height: calc(87% + 5vh); }
    .mo-ah100 { height: calc(97% + 5vh); }
}

/* Large and up */
@media screen and (min-height: 64em) {
    .lu-h5 { height: 5%; }
    .lu-h10 { height: 10%; }
    .lu-h15 { height: 15%; }
    .lu-h20 { height: 20%; }
    .lu-h25 { height: 25%; }
    .lu-h30 { height: 30%; }
    .lu-h33 { height: 33%; }
    .lu-h40 { height: 40%; }
    .lu-h50 { height: 50%; }
    .lu-h60 { height: 60%; }
    .lu-h66 { height: 66%; }
    .lu-h70 { height: 70%; }
    .lu-h80 { height: 80%; }
    .lu-h90 { height: 90%; }
    .lu-h100 { height: 100%; }

    .lu-vh5 { height: 5vh; }
    .lu-vh10 { height: 10vh; }
    .lu-vh15 { height: 15vh; }
    .lu-vh20 { height: 20vh; }
    .lu-vh25 { height: 25vh; }
    .lu-vh30 { height: 30vh; }
    .lu-vh33 { height: 33vh; }
    .lu-vh40 { height: 40vh; }
    .lu-vh50 { height: 50vh; }
    .lu-vh60 { height: 60vh; }
    .lu-vh66 { height: 66vh; }
    .lu-vh70 { height: 70vh; }
    .lu-vh80 { height: 80vh; }
    .lu-vh90 { height: 90vh; }
    .lu-vh100 { height: 100vh; }

    .lu-ah5 { height: calc(4% + 5vh); }
    .lu-ah10 { height: calc(9% + 5vh); }
    .lu-ah15 { height: calc(14% + 5vh); }
    .lu-ah20 { height: calc(19% + 5vh); }
    .lu-ah25 { height: calc(24% + 5vh); }
    .lu-ah30 { height: calc(29% + 5vh); }
    .lu-ah33 { height: calc(32% + 5vh); }
    .lu-ah40 { height: calc(39% + 5vh); }
    .lu-ah50 { height: calc(49% + 5vh); }
    .lu-ah60 { height: calc(59% + 5vh); }
    .lu-ah66 { height: calc(65% + 5vh); }
    .lu-ah70 { height: calc(69% + 5vh); }
    .lu-ah80 { height: calc(77% + 5vh); }
    .lu-ah90 { height: calc(87% + 5vh); }
    .lu-ah100 { height: calc(97% + 5vh); }
}

/* Large only */
@media screen and (min-height: 64em) and (max-height: 74.9375em) {
    .lo-h5 { height: 5%; }
    .lo-h10 { height: 10%; }
    .lo-h15 { height: 15%; }
    .lo-h20 { height: 20%; }
    .lo-h25 { height: 25%; }
    .lo-h30 { height: 30%; }
    .lo-h33 { height: 33%; }
    .lo-h40 { height: 40%; }
    .lo-h50 { height: 50%; }
    .lo-h60 { height: 60%; }
    .lo-h66 { height: 66%; }
    .lo-h70 { height: 70%; }
    .lo-h80 { height: 80%; }
    .lo-h90 { height: 90%; }
    .lo-h100 { height: 100%; }

    .lo-vh5 { height: 5vh; }
    .lo-vh10 { height: 10vh; }
    .lo-vh15 { height: 15vh; }
    .lo-vh20 { height: 20vh; }
    .lo-vh25 { height: 25vh; }
    .lo-vh30 { height: 30vh; }
    .lo-vh33 { height: 33vh; }
    .lo-vh40 { height: 40vh; }
    .lo-vh50 { height: 50vh; }
    .lo-vh60 { height: 60vh; }
    .lo-vh66 { height: 66vh; }
    .lo-vh70 { height: 70vh; }
    .lo-vh80 { height: 80vh; }
    .lo-vh90 { height: 90vh; }
    .lo-vh100 { height: 100vh; }

    .lo-ah5 { height: calc(4% + 5vh); }
    .lo-ah10 { height: calc(9% + 5vh); }
    .lo-ah15 { height: calc(14% + 5vh); }
    .lo-ah20 { height: calc(19% + 5vh); }
    .lo-ah25 { height: calc(24% + 5vh); }
    .lo-ah30 { height: calc(29% + 5vh); }
    .lo-ah33 { height: calc(32% + 5vh); }
    .lo-ah40 { height: calc(39% + 5vh); }
    .lo-ah50 { height: calc(49% + 5vh); }
    .lo-ah60 { height: calc(59% + 5vh); }
    .lo-ah66 { height: calc(65% + 5vh); }
    .lo-ah70 { height: calc(69% + 5vh); }
    .lo-ah80 { height: calc(77% + 5vh); }
    .lo-ah90 { height: calc(87% + 5vh); }
    .lo-ah100 { height: calc(97% + 5vh); }
}
