@import '../css/variables.css';

input, textarea {
    border: none;
    border: solid var(--border-width-xxs) var(--color-primary);
    border-radius: var(--border-radius-s);
    padding: 0.6rem;
    margin: 0.5rem 0;
    /*border: solid black 1px;*/
}

input:focus, textarea:focus {
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-s);
    outline: none;
}
