.m0  { margin:        0; }
.mt0 { margin-top:    0; }
.mr0 { margin-right:  0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left:   0; }
.mx0 { margin-left:   0; margin-right:  0 }
.my0 { margin-top:    0; margin-bottom: 0 }

.m1  { margin:        0.5rem }
.mt1 { margin-top:    0.5rem }
.mr1 { margin-right:  0.5rem }
.mb1 { margin-bottom: 0.5rem }
.ml1 { margin-left:   0.5rem }
.mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
.my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

.m2  { margin:        1rem; }
.mt2 { margin-top:    1rem; }
.mr2 { margin-right:  1rem; }
.mb2 { margin-bottom: 1rem; }
.ml2 { margin-left:   1rem; }
.mx2 { margin-left:   1rem; margin-right:  1rem; }
.my2 { margin-top:    1rem; margin-bottom: 1rem; }

.m3  { margin:        2rem; }
.mt3 { margin-top:    2rem; }
.mr3 { margin-right:  2rem; }
.mb3 { margin-bottom: 2rem; }
.ml3 { margin-left:   2rem; }
.mx3 { margin-left:   2rem; margin-right:  2rem; }
.my3 { margin-top:    2rem; margin-bottom: 2rem; }

.m4  { margin:        3rem; }
.mt4 { margin-top:    3rem; }
.mr4 { margin-right:  3rem; }
.mb4 { margin-bottom: 3rem; }
.ml4 { margin-left:   3rem; }
.mx4 { margin-left:   3rem; margin-right:  3rem; }
.my4 { margin-top:    3rem; margin-bottom: 3rem; }

.m5  { margin:        4rem; }
.mt5 { margin-top:    4rem; }
.mr5 { margin-right:  4rem; }
.mb5 { margin-bottom: 4rem; }
.ml5 { margin-left:   4rem; }
.mx5 { margin-left:   4rem; margin-right:  4rem; }
.my5 { margin-top:    4rem; margin-bottom: 4rem; }

.mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
.mxn2 { margin-left: -1rem; margin-right: -1rem; }
.mxn3 { margin-left: -2rem; margin-right: -2rem; }
.mxn4 { margin-left: -3rem; margin-right: -3rem; }
.mxn5 { margin-left: -4rem; margin-right: -4rem; }

.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.mx-auto { margin-left: auto; margin-right: auto; }

/* Small only */
@media screen and (max-width: 39.9375em) {
    .so-m0  { margin:        0; }
    .so-mt0 { margin-top:    0; }
    .so-mr0 { margin-right:  0; }
    .so-mb0 { margin-bottom: 0; }
    .so-ml0 { margin-left:   0; }
    .so-mx0 { margin-left:   0; margin-right:  0 }
    .so-my0 { margin-top:    0; margin-bottom: 0 }

    .so-m1  { margin:        0.5rem }
    .so-mt1 { margin-top:    0.5rem }
    .so-mr1 { margin-right:  0.5rem }
    .so-mb1 { margin-bottom: 0.5rem }
    .so-ml1 { margin-left:   0.5rem }
    .so-mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
    .so-my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

    .so-m2  { margin:        1rem; }
    .so-mt2 { margin-top:    1rem; }
    .so-mr2 { margin-right:  1rem; }
    .so-mb2 { margin-bottom: 1rem; }
    .so-ml2 { margin-left:   1rem; }
    .so-mx2 { margin-left:   1rem; margin-right:  1rem; }
    .so-my2 { margin-top:    1rem; margin-bottom: 1rem; }

    .so-m3  { margin:        2rem; }
    .so-mt3 { margin-top:    2rem; }
    .so-mr3 { margin-right:  2rem; }
    .so-mb3 { margin-bottom: 2rem; }
    .so-ml3 { margin-left:   2rem; }
    .so-mx3 { margin-left:   2rem; margin-right:  2rem; }
    .so-my3 { margin-top:    2rem; margin-bottom: 2rem; }

    .so-m4  { margin:        3rem; }
    .so-mt4 { margin-top:    3rem; }
    .so-mr4 { margin-right:  3rem; }
    .so-mb4 { margin-bottom: 3rem; }
    .so-ml4 { margin-left:   3rem; }
    .so-mx4 { margin-left:   3rem; margin-right:  3rem; }
    .so-my4 { margin-top:    3rem; margin-bottom: 3rem; }

    .so-m5  { margin:        4rem; }
    .so-mt5 { margin-top:    4rem; }
    .so-mr5 { margin-right:  4rem; }
    .so-mb5 { margin-bottom: 4rem; }
    .so-ml5 { margin-left:   4rem; }
    .so-mx5 { margin-left:   4rem; margin-right:  4rem; }
    .so-my5 { margin-top:    4rem; margin-bottom: 4rem; }

    .so-mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .so-mxn2 { margin-left: -1rem; margin-right: -1rem; }
    .so-mxn3 { margin-left: -2rem; margin-right: -2rem; }
    .so-mxn4 { margin-left: -3rem; margin-right: -3rem; }
    .so-mxn5 { margin-left: -4rem; margin-right: -4rem; }

    .so-ml-auto { margin-left: auto }
    .so-mr-auto { margin-right: auto }
    .so-mx-auto { margin-left: auto; margin-right: auto; }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .mu-m0  { margin:        0; }
    .mu-mt0 { margin-top:    0; }
    .mu-mr0 { margin-right:  0; }
    .mu-mb0 { margin-bottom: 0; }
    .mu-ml0 { margin-left:   0; }
    .mu-mx0 { margin-left:   0; margin-right:  0 }
    .mu-my0 { margin-top:    0; margin-bottom: 0 }

    .mu-m1  { margin:        0.5rem }
    .mu-mt1 { margin-top:    0.5rem }
    .mu-mr1 { margin-right:  0.5rem }
    .mu-mb1 { margin-bottom: 0.5rem }
    .mu-ml1 { margin-left:   0.5rem }
    .mu-mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
    .mu-my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

    .mu-m2  { margin:        1rem; }
    .mu-mt2 { margin-top:    1rem; }
    .mu-mr2 { margin-right:  1rem; }
    .mu-mb2 { margin-bottom: 1rem; }
    .mu-ml2 { margin-left:   1rem; }
    .mu-mx2 { margin-left:   1rem; margin-right:  1rem; }
    .mu-my2 { margin-top:    1rem; margin-bottom: 1rem; }

    .mu-m3  { margin:        2rem; }
    .mu-mt3 { margin-top:    2rem; }
    .mu-mr3 { margin-right:  2rem; }
    .mu-mb3 { margin-bottom: 2rem; }
    .mu-ml3 { margin-left:   2rem; }
    .mu-mx3 { margin-left:   2rem; margin-right:  2rem; }
    .mu-my3 { margin-top:    2rem; margin-bottom: 2rem; }

    .mu-m4  { margin:        3rem; }
    .mu-mt4 { margin-top:    3rem; }
    .mu-mr4 { margin-right:  3rem; }
    .mu-mb4 { margin-bottom: 3rem; }
    .mu-ml4 { margin-left:   3rem; }
    .mu-mx4 { margin-left:   3rem; margin-right:  3rem; }
    .mu-my4 { margin-top:    3rem; margin-bottom: 3rem; }

    .mu-m5  { margin:        4rem; }
    .mu-mt5 { margin-top:    4rem; }
    .mu-mr5 { margin-right:  4rem; }
    .mu-mb5 { margin-bottom: 4rem; }
    .mu-ml5 { margin-left:   4rem; }
    .mu-mx5 { margin-left:   4rem; margin-right:  4rem; }
    .mu-my5 { margin-top:    4rem; margin-bottom: 4rem; }

    .mu-mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .mu-mxn2 { margin-left: -1rem; margin-right: -1rem; }
    .mu-mxn3 { margin-left: -2rem; margin-right: -2rem; }
    .mu-mxn4 { margin-left: -3rem; margin-right: -3rem; }
    .mu-mxn5 { margin-left: -4rem; margin-right: -4rem; }

    .mu-ml-auto { margin-left: auto }
    .mu-mr-auto { margin-right: auto }
    .mu-mx-auto { margin-left: auto; margin-right: auto; }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .mo-m0  { margin:        0; }
    .mo-mt0 { margin-top:    0; }
    .mo-mr0 { margin-right:  0; }
    .mo-mb0 { margin-bottom: 0; }
    .mo-ml0 { margin-left:   0; }
    .mo-mx0 { margin-left:   0; margin-right:  0 }
    .mo-my0 { margin-top:    0; margin-bottom: 0 }

    .mo-m1  { margin:        0.5rem }
    .mo-mt1 { margin-top:    0.5rem }
    .mo-mr1 { margin-right:  0.5rem }
    .mo-mb1 { margin-bottom: 0.5rem }
    .mo-ml1 { margin-left:   0.5rem }
    .mo-mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
    .mo-my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

    .mo-m2  { margin:        1rem; }
    .mo-mt2 { margin-top:    1rem; }
    .mo-mr2 { margin-right:  1rem; }
    .mo-mb2 { margin-bottom: 1rem; }
    .mo-ml2 { margin-left:   1rem; }
    .mo-mx2 { margin-left:   1rem; margin-right:  1rem; }
    .mo-my2 { margin-top:    1rem; margin-bottom: 1rem; }

    .mo-m3  { margin:        2rem; }
    .mo-mt3 { margin-top:    2rem; }
    .mo-mr3 { margin-right:  2rem; }
    .mo-mb3 { margin-bottom: 2rem; }
    .mo-ml3 { margin-left:   2rem; }
    .mo-mx3 { margin-left:   2rem; margin-right:  2rem; }
    .mo-my3 { margin-top:    2rem; margin-bottom: 2rem; }

    .mo-m4  { margin:        3rem; }
    .mo-mt4 { margin-top:    3rem; }
    .mo-mr4 { margin-right:  3rem; }
    .mo-mb4 { margin-bottom: 3rem; }
    .mo-ml4 { margin-left:   3rem; }
    .mo-mx4 { margin-left:   3rem; margin-right:  3rem; }
    .mo-my4 { margin-top:    3rem; margin-bottom: 3rem; }

    .mo-m5  { margin:        4rem; }
    .mo-mt5 { margin-top:    4rem; }
    .mo-mr5 { margin-right:  4rem; }
    .mo-mb5 { margin-bottom: 4rem; }
    .mo-ml5 { margin-left:   4rem; }
    .mo-mx5 { margin-left:   4rem; margin-right:  4rem; }
    .mo-my5 { margin-top:    4rem; margin-bottom: 4rem; }

    .mo-mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .mo-mxn2 { margin-left: -1rem; margin-right: -1rem; }
    .mo-mxn3 { margin-left: -2rem; margin-right: -2rem; }
    .mo-mxn4 { margin-left: -3rem; margin-right: -3rem; }
    .mo-mxn5 { margin-left: -4rem; margin-right: -4rem; }

    .mo-ml-auto { margin-left: auto }
    .mo-mr-auto { margin-right: auto }
    .mo-mx-auto { margin-left: auto; margin-right: auto; }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .lu-m0  { margin:        0; }
    .lu-mt0 { margin-top:    0; }
    .lu-mr0 { margin-right:  0; }
    .lu-mb0 { margin-bottom: 0; }
    .lu-ml0 { margin-left:   0; }
    .lu-mx0 { margin-left:   0; margin-right:  0 }
    .lu-my0 { margin-top:    0; margin-bottom: 0 }

    .lu-m1  { margin:        0.5rem }
    .lu-mt1 { margin-top:    0.5rem }
    .lu-mr1 { margin-right:  0.5rem }
    .lu-mb1 { margin-bottom: 0.5rem }
    .lu-ml1 { margin-left:   0.5rem }
    .lu-mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
    .lu-my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

    .lu-m2  { margin:        1rem; }
    .lu-mt2 { margin-top:    1rem; }
    .lu-mr2 { margin-right:  1rem; }
    .lu-mb2 { margin-bottom: 1rem; }
    .lu-ml2 { margin-left:   1rem; }
    .lu-mx2 { margin-left:   1rem; margin-right:  1rem; }
    .lu-my2 { margin-top:    1rem; margin-bottom: 1rem; }

    .lu-m3  { margin:        2rem; }
    .lu-mt3 { margin-top:    2rem; }
    .lu-mr3 { margin-right:  2rem; }
    .lu-mb3 { margin-bottom: 2rem; }
    .lu-ml3 { margin-left:   2rem; }
    .lu-mx3 { margin-left:   2rem; margin-right:  2rem; }
    .lu-my3 { margin-top:    2rem; margin-bottom: 2rem; }

    .lu-m4  { margin:        3rem; }
    .lu-mt4 { margin-top:    3rem; }
    .lu-mr4 { margin-right:  3rem; }
    .lu-mb4 { margin-bottom: 3rem; }
    .lu-ml4 { margin-left:   3rem; }
    .lu-mx4 { margin-left:   3rem; margin-right:  3rem; }
    .lu-my4 { margin-top:    3rem; margin-bottom: 3rem; }

    .lu-m5  { margin:        4rem; }
    .lu-mt5 { margin-top:    4rem; }
    .lu-mr5 { margin-right:  4rem; }
    .lu-mb5 { margin-bottom: 4rem; }
    .lu-ml5 { margin-left:   4rem; }
    .lu-mx5 { margin-left:   4rem; margin-right:  4rem; }
    .lu-my5 { margin-top:    4rem; margin-bottom: 4rem; }

    .lu-mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .lu-mxn2 { margin-left: -1rem; margin-right: -1rem; }
    .lu-mxn3 { margin-left: -2rem; margin-right: -2rem; }
    .lu-mxn4 { margin-left: -3rem; margin-right: -3rem; }
    .lu-mxn5 { margin-left: -4rem; margin-right: -4rem; }

    .lu-ml-auto { margin-left: auto }
    .lu-mr-auto { margin-right: auto }
    .lu-mx-auto { margin-left: auto; margin-right: auto; }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .lo-m0  { margin:        0; }
    .lo-mt0 { margin-top:    0; }
    .lo-mr0 { margin-right:  0; }
    .lo-mb0 { margin-bottom: 0; }
    .lo-ml0 { margin-left:   0; }
    .lo-mx0 { margin-left:   0; margin-right:  0 }
    .lo-my0 { margin-top:    0; margin-bottom: 0 }

    .lo-m1  { margin:        0.5rem }
    .lo-mt1 { margin-top:    0.5rem }
    .lo-mr1 { margin-right:  0.5rem }
    .lo-mb1 { margin-bottom: 0.5rem }
    .lo-ml1 { margin-left:   0.5rem }
    .lo-mx1 { margin-left:   0.5rem; margin-right: 0.5rem }
    .lo-my1 { margin-top:    0.5rem; margin-bottom: 0.5rem }

    .lo-m2  { margin:        1rem; }
    .lo-mt2 { margin-top:    1rem; }
    .lo-mr2 { margin-right:  1rem; }
    .lo-mb2 { margin-bottom: 1rem; }
    .lo-ml2 { margin-left:   1rem; }
    .lo-mx2 { margin-left:   1rem; margin-right:  1rem; }
    .lo-my2 { margin-top:    1rem; margin-bottom: 1rem; }

    .lo-m3  { margin:        2rem; }
    .lo-mt3 { margin-top:    2rem; }
    .lo-mr3 { margin-right:  2rem; }
    .lo-mb3 { margin-bottom: 2rem; }
    .lo-ml3 { margin-left:   2rem; }
    .lo-mx3 { margin-left:   2rem; margin-right:  2rem; }
    .lo-my3 { margin-top:    2rem; margin-bottom: 2rem; }

    .lo-m4  { margin:        3rem; }
    .lo-mt4 { margin-top:    3rem; }
    .lo-mr4 { margin-right:  3rem; }
    .lo-mb4 { margin-bottom: 3rem; }
    .lo-ml4 { margin-left:   3rem; }
    .lo-mx4 { margin-left:   3rem; margin-right:  3rem; }
    .lo-my4 { margin-top:    3rem; margin-bottom: 3rem; }

    .lo-m5  { margin:        4rem; }
    .lo-mt5 { margin-top:    4rem; }
    .lo-mr5 { margin-right:  4rem; }
    .lo-mb5 { margin-bottom: 4rem; }
    .lo-ml5 { margin-left:   4rem; }
    .lo-mx5 { margin-left:   4rem; margin-right:  4rem; }
    .lo-my5 { margin-top:    4rem; margin-bottom: 4rem; }

    .lo-mxn1 { margin-left: -0.5rem; margin-right: -0.5rem; }
    .lo-mxn2 { margin-left: -1rem; margin-right: -1rem; }
    .lo-mxn3 { margin-left: -2rem; margin-right: -2rem; }
    .lo-mxn4 { margin-left: -3rem; margin-right: -3rem; }
    .lo-mxn5 { margin-left: -4rem; margin-right: -4rem; }

    .lo-ml-auto { margin-left: auto }
    .lo-mr-auto { margin-right: auto }
    .lo-mx-auto { margin-left: auto; margin-right: auto; }
}
