.mw1 { max-width: var(--max-width-1); }
.mw2 { max-width: var(--max-width-2); }
.mw3 { max-width: var(--max-width-3); }
.mw4 { max-width: var(--max-width-4); }
.mw5 { max-width: var(--max-width-5); }
.mw6 { max-width: var(--max-width-6); }
.mw7 { max-width: var(--max-width-7); }
.mw8 { max-width: var(--max-width-8); }
.mw9 { max-width: var(--max-width-9); }
.mw100 { max-width: 100%; }
.mw-none { max-width: none; }

/* Small only */
@media screen and (max-width: var(--sm-max-width)) {
    .so-mw1 { max-width: var(--max-width-1); }
    .so-mw2 { max-width: var(--max-width-2); }
    .so-mw3 { max-width: var(--max-width-3); }
    .so-mw4 { max-width: var(--max-width-4); }
    .so-mw5 { max-width: var(--max-width-5); }
    .so-mw6 { max-width: var(--max-width-6); }
    .so-mw7 { max-width: var(--max-width-7); }
    .so-mw8 { max-width: var(--max-width-8); }
    .so-mw9 { max-width: var(--max-width-9); }
    .so-mw100 { max-width: 100%; }
    .so-mw-none { max-width: none; }
}

/* Medium and up */
@media screen and (min-width: var(--m-min-width)) {
    .mu-mw1 { max-width: var(--max-width-1); }
    .mu-mw2 { max-width: var(--max-width-2); }
    .mu-mw3 { max-width: var(--max-width-3); }
    .mu-mw4 { max-width: var(--max-width-4); }
    .mu-mw5 { max-width: var(--max-width-5); }
    .mu-mw6 { max-width: var(--max-width-6); }
    .mu-mw7 { max-width: var(--max-width-7); }
    .mu-mw8 { max-width: var(--max-width-8); }
    .mu-mw9 { max-width: var(--max-width-9); }
    .mu-mw100 { max-width: 100%; }
    .mu-mw-none { max-width: none; }
}

/* Medium only */
@media screen and (min-width: var(--m-min-width)) and (max-width: var(--m-max-width)) {
    .mo-mw1 { max-width: var(--max-width-1); }
    .mo-mw2 { max-width: var(--max-width-2); }
    .mo-mw3 { max-width: var(--max-width-3); }
    .mo-mw4 { max-width: var(--max-width-4); }
    .mo-mw5 { max-width: var(--max-width-5); }
    .mo-mw6 { max-width: var(--max-width-6); }
    .mo-mw7 { max-width: var(--max-width-7); }
    .mo-mw8 { max-width: var(--max-width-8); }
    .mo-mw9 { max-width: var(--max-width-9); }
    .mo-mw100 { max-width: 100%; }
    .mo-mw-none { max-width: none; }
}

/* Large and up */
@media screen and (min-width: var(--l-min-width)) {
    .lu-mw1 { max-width: var(--max-width-1); }
    .lu-mw2 { max-width: var(--max-width-2); }
    .lu-mw3 { max-width: var(--max-width-3); }
    .lu-mw4 { max-width: var(--max-width-4); }
    .lu-mw5 { max-width: var(--max-width-5); }
    .lu-mw6 { max-width: var(--max-width-6); }
    .lu-mw7 { max-width: var(--max-width-7); }
    .lu-mw8 { max-width: var(--max-width-8); }
    .lu-mw9 { max-width: var(--max-width-9); }
    .lu-mw-100 { max-width: 100%; }
    .lu-mw-none { max-width: none; }
}

/* Large only */
@media screen and (min-width: var(--l-min-width)) and (min-width: var(--l-max-width)) {
    .lo-mw1 { max-width: var(--max-width-1); }
    .lo-mw2 { max-width: var(--max-width-2); }
    .lo-mw3 { max-width: var(--max-width-3); }
    .lo-mw4 { max-width: var(--max-width-4); }
    .lo-mw5 { max-width: var(--max-width-5); }
    .lo-mw6 { max-width: var(--max-width-6); }
    .lo-mw7 { max-width: var(--max-width-7); }
    .lo-mw8 { max-width: var(--max-width-8); }
    .lo-mw9 { max-width: var(--max-width-9); }
    .lo-mw-100 { max-width: 100%; }
    .lo-mw-none { max-width: none; }
}
