.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
