span,
p,
div {
    font-size: calc(1rem + 0.2vw);
}

span.larger,
p.larger,
div.larger {
    font-size: calc(1.2rem + 0.2vw);
}

span.smaller,
p.smaller,
div.smaller {
    font-size: calc(0.875rem + 0.2vw);
}

.bold { font-weight: bold; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; }
.underline { text-decoration: underline; }
.decoration-none {text-decoration: none; }

.nowrap { white-space: nowrap; }
.break-word {word-wrap: break-word; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify {text-align: justify; }

.line-height-1 {line-height: calc(1rem + 0.2vw)}
.line-height-2 {line-height: calc(1.3rem + 0.2vw)}
.line-height-3 {line-height: calc(1.6rem + 0.4vw)}
.line-height-4 {line-height: calc(1.8rem + 0.5vw)}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
