@import '../css/variables.css';


span,
p,
div {
    font-size: var(--font-size-reg);
}

span.larger,
p.larger,
div.larger {
    font-size: var(--font-size-lg);
}

span.smaller,
p.smaller,
div.smaller {
    font-size: var(--font-size-sm);
}

a {
    text-decoration: none;
    color: var(--color-text-primary)
}

.bold { font-weight: bold; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; }
.underline { text-decoration: underline; }
.decoration-none {text-decoration: none; }

.nowrap { white-space: nowrap; }
.break-word {word-wrap: break-word; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify {text-align: justify; }

.line-height-1 {line-height: calc(1rem + 0.2vw)}
.line-height-2 {line-height: calc(1.3rem + 0.2vw)}
.line-height-3 {line-height: calc(1.6rem + 0.4vw)}
.line-height-4 {line-height: calc(1.8rem + 0.5vw)}

.codeblock-label {
  /* More can go here. */
}

pre {
  margin: 0;
}

pre.codeblock {
  border-radius: var(--codeblock-radius);
  border: var(--codeblock-border);
  background-color: var(--codeblock-bgd-color);
  padding: 0.2rem 0.7rem;
  border-left: var(--codeblock-border-left);
}

pre.line-numbers {
  position: relative;
  padding-left: 0.8em;
  /*counter-reset: linenumber;*/
}

pre.line-numbers > code {
	position: relative;
}

/*pre.line-numbers::before {
  content: counter(linenumber);
}*/

code, .code {

}

samp, .samp {

}

kbd, .kbd {

}
var, .var {

}

blockquote, .blockquote {
  margin: 1.5em 10px 1.5em 0px;
  padding: 0.5em 10px 0.5em 20px;
  border-left: 0.25rem solid var(--color-gray-lighter);
  border-radius: 11px;
  quotes: "\201C""\201D""\2018""\2019";
}

.column-count-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  text-align:justify;
}

.column-count-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 50px;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  text-align:justify;
}

.drop-cap:first-child::first-letter {
  font-size: 200%;
  margin: 0 5px 0 0;
  float: left;
}

/*  text selection */
p::selection,
div::selection {
    background: var(--selection-bgd);
    color: var(--selection-color);
}

div::-moz-selection {  /* Firefox */
    background: green;
    color: #FFFFFF;
}

/* Small only */
@media screen and (max-width: var(--sm-max-width)) {}

/* Medium and up */
@media screen and (min-width: var(--m-min-width)) {}

/* Medium only */
@media screen and (min-width: var(--m-min-width)) and (max-width: var(--m-max-width)) {}

/* Large and up */
@media screen and (min-width: var(--l-min-width)) {}

/* Large only */
@media screen and (min-width: var(--l-min-width)) and (min-width: var(--l-max-width)) {}
