:root {
    /* breakpoints */
    --sm-max-width: 39.9375em;
    --m-min-width: 40em;
    --m-max-width: 63.9375em;
    --l-min-width: 64em;
    --l-max-width: 74.9375em;

    /* font sizes */
    --font-size-sm: calc(0.60rem + 0.4vw);
    --font-size-reg: calc(0.75rem + 0.4vw);
    --font-size-lg: calc(0.95rem + 0.4vw);


    /* colors */
    --color-primary: #27566B;
    --color-primary-lighter: #467386;
    --color-primary-lightest: #6E92A1;
    --color-primary-darker: #103D50;
    --color-primary-darkest: #022636;

    --color-secondary: #313A75;
    --color-secondary-lighter: #525B92;
    --color-secondary-lightest: #7C83AF;
    --color-secondary-darker: #182157;
    --color-secondary-darkest: #080F3A;

    --color-gray-darkest: #333;
    --color-gray-darker: #555;
    --color-gray: #777;
    --color-gray-lighter: #AAA;
    --color-gray-lightest: #EEE;

    --color-light: white;
    --color-dark: black;

    --color-default: white;
    --color-success: green;
    --color-info: blue;
    --color-warning: orange;
    --color-danger: red;
    --color-disabled: var(--color-gray);

    /* Text colors */
    --color-text-primary: black;

    /* links */
    --color-link: #27566B;
    --color-link-hover: color(var(--color-link) lightness(50%));


    /* borders */
    --border-width-xxs: 1px;
    --border-width-xs: .125rem;
    --border-width-s: .25rem;
    --border-width-m: .5rem;
    --border-width-l: .75rem;
    --border-width-xl: 1rem;

    /* border radius */
    --border-radius-xs: .125rem;
    --border-radius-s: .25rem;
    --border-radius-m: .5rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 2rem;

    /* margin */
    --margin-xs: 0.5rem;
    --margin-s: 1rem;
    --margin-m: 2rem;
    --margin-l: 3rem;
    --margin-xl: 4rem;

    /* padding */
    --padding-xs: 0.5rem;
    --padding-s: 1rem;
    --padding-m: 2rem;
    --padding-l: 3rem;
    --padding-xl: 4rem;

    /* max widths */
    --max-width-1: 1rem;
    --max-width-2: 2rem;
    --max-width-3: 4rem;
    --max-width-4: 8rem;
    --max-width-5: 16rem;
    --max-width-6: 32rem;
    --max-width-7: 48rem;
    --max-width-8: 64rem;
    --max-width-9: 96rem;

    /* buttons */
    --btn-default-color: #27566B;
    --btn-default-border: solid #27566B var(--border-width-xxs);
    --btn-default-radius: var(--border-radius-s);
    --btn-default-bgd: var(--color-default);

    --btn-primary-color: white;
    --btn-primary-border: none;
    --btn-primary-radius: var(--border-radius-s);
    --btn-primary-bgd: var(--color-primary);

    --btn-success-color: white;
    --btn-success-border: none;
    --btn-success-radius: var(--border-radius-s);
    --btn-success-bgd: var(--color-success);

    --btn-info-color: white;
    --btn-info-border: none;
    --btn-info-radius: var(--border-radius-s);
    --btn-info-bgd: var(--color-info);

    --btn-warning-color: white;
    --btn-warning-border: none;
    --btn-warning-radius: var(--border-radius-s);
    --btn-warning-bgd: var(--color-warning);

    --btn-danger-color: white;
    --btn-danger-border: none;
    --btn-danger-radius: var(--border-radius-s);
    --btn-danger-bgd: var(--color-danger);

    --btn-disabled-color: white;
    --btn-disabled-border: none;
    --btn-disabled-radius: var(--border-radius-s);
    --btn-disabled-bgd: var(--color-gray);
}
