:root {
    /* breakpoints */
    --sm-max-width: 39.9375em;
    --m-min-width: 40em;
    --m-max-width: 63.9375em;
    --l-min-width: 64em;
    --l-max-width: 74.9375em;

    /* colors */
    --color-primary: #27566B;
    --color-primary-lighter: #467386;
    --color-primary-lightest: #6E92A1;
    --color-primary-darker: #103D50;
    --color-primary-darkest: #022636;
    --color-secondary: #313A75;
    --color-secondary-lighter: #525B92;
    --color-secondary-lightest: #7C83AF;
    --color-secondary-darker: #182157;
    --color-secondary-darkest: #080F3A;
    --color-light: white;
    --color-dark: black;
    --color-text-primary: black;

    /* borders */
    --border-width-xs: .125rem;
    --border-width-s: .25rem;
    --border-width-m: .5rem;
    --border-width-l: .75rem;
    --border-width-xl: 1rem;

    /* border radius */
    --border-radius-xs: .125rem;
    --border-radius-s: .25rem;
    --border-radius-m: .5rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 2rem;

    /* margin */
    --margin-xs: 0.5rem;
    --margin-s: 1rem;
    --margin-m: 2rem;
    --margin-l: 3rem;
    --margin-xl: 4rem;

    /* padding */
    --padding-xs: 0.5rem;
    --padding-s: 1rem;
    --padding-m: 2rem;
    --padding-l: 3rem;
    --padding-xl: 4rem;

    /* max widths */
    --max-width-1: 1rem;
    --max-width-2: 2rem;
    --max-width-3: 4rem;
    --max-width-4: 8rem;
    --max-width-5: 16rem;
    --max-width-6: 32rem;
    --max-width-7: 48rem;
    --max-width-8: 64rem;
    --max-width-9: 96rem;
}
